body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f9;
}

/* NAVBAR */
nav {
  background: #222;
  padding: 15px;
}

nav a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #00bcd4;
}

/* PAGE */
h1 {
  text-align: center;
  margin-top: 20px;
}

h2 {
  color: #333;
}

h2 {
  border-bottom: 2px solid #00bcd4;
  padding-bottom: 5px;
}

/* CARD STYLE */
.card {
  background: white;
  padding: 15px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* BUTTONS */
button {
  margin: 5px;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Edit button */
button:nth-child(2) {
  background: #4caf50;
  color: white;
}

/* Delete button */
button:nth-child(3) {
  background: #f44336;
  color: white;
}

/* Add/Update */
button:first-of-type {
  background: #00bcd4;
  color: white;
}

button:hover {
  background: #0097a7;
}

/* INPUTS */
input {
  padding: 6px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}